{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties"],
  "comments": false
}
